<header class="site-header">
	<div class="branding">
		{% if site.theme.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/img/{{ site.theme.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
		  <a href="{{ site.baseurl }}/">{{ site.theme.title }}</a>                  
		</h1>
                <div style="margin: 2px 0 0 30px; position: absolute" class="fb-like" data-href="https://web.facebook.com/I-hate-Monads-1747836925437879" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
	</div>
	<nav class="site-nav">
		<ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a>

			</li>
			{% endif %}
			{% endfor %}
			<!-- Social icons from Font Awesome, if enabled -->
			{% include icons.html %}
		</ul>
	</nav>
</header>
